<div class="locus-entry-log-list-item-view">
    <div class="row">
        <div class="small-3 columns">
            <a class="go-to-locus-button hidden" data-locus-id="{{locusId}}" href="#">{{withDefault locusName "&nbsp;"}}</a>
            <a class="go-to-identity-button" data-identity-id="{{identityId}}" href="#">{{withDefault identityName "&nbsp;"}}</a>
        </div>
        <div class="small-3 columns">
            <span class="in-time-label">{{formatDateWithDefault inTime "dd-mm-YYYY hh:mm" "&nbsp;"}}</span>
        </div>
        <div class="small-3 columns">
            <span class="purpose-label">{{withDefault purpose "&nbsp;"}}</span>
            <span class="duration-label hidden">{{withDefault duration "&nbsp;"}}</span>
        </div>
        <div class="small-3 columns">
            <span class="out-time-label">{{formatDateWithDefault outTime "dd-mm-YYYY hh:mm" "&nbsp;"}}</span>
        </div>
    </div>
    <div class="row hidden">
        <div class="small-12 columns">
            <span class="distance-label">{{withDefault distance "&nbsp;"}}</span>&nbsp;&#124;&nbsp;<a class="go-to-directions-button" data-latitude="{{latitude}}" data-longitude="{{longitude}}" href="#">{{resource "goToDirectionsButtonText"}}&nbsp;<i class="fa fa-map-marker"></i></a><span class="directions-unavailable-label hidden">{{resource "directionsUnavailableErrorMessage"}}</span>
        </div>
    </div>
    <div class="row hidden">
        <div class="small-12 columns">
            <span class="additional-info-label">{{withDefault additionalInfo "&nbsp;"}}</span>
        </div>
    </div>
</div>
