<div class="locus-entry-log-list-item-view">
    <div class="row locus-container hidden">
        <div class="small-10 columns">
            <a class="go-to-locus-button" data-locus-id="{{locusId}}" href="#">{{withDefault locusName "&nbsp;"}}</a>
        </div>
        <div class="small-2 columns">
            <span class="coordinates-unavailable-label hidden">{{resource "coordinatesUnavailableErrorMessage"}}</span>
            <a class="button radius tiny success go-to-directions-button hidden" data-latitude="{{latitude}}" data-longitude="{{longitude}}" href="#">{{withDefault distance "&nbsp;"}}</a>
        </div>
    </div>
    <div class="row identity-container">
        <div class="small-10 columns">
            <a class="go-to-identity-button" data-locus-id="{{identityId}}" href="#">{{withDefault identityName "&nbsp;"}}</a>
        </div>
        <div class="small-2 columns">
            <a class="message-contact-number-button hidden" href="sms:{{contactNumber}}"><i class="fa fa-comment-o"></i></a>
            <a class="call-contact-number-button hidden" href="tel:{{contactNumber}}"><i class="fa fa-phone"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="small-10 columns">
            <span class="in-time-label">{{formatDateWithDefault inTime "&nbsp;"}}</span>
        </div>
        <div class="small-2 columns">
            <span class="group-check-in-label"><i class="fa fa-users"></i></span>
        </div>
    </div>
    <div class="row">
        <div class="small-10 columns">
            <span class="purpose-label">{{withDefault purpose "&nbsp;"}}</span>
        </div>
        <div class="small-2 columns">
            <span>&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="small-10 columns">
            <span class="out-time-label">{{formatDateWithDefault outTime "&nbsp;"}}</span>
        </div>
        <div class="small-2 columns">
            <span class="expired-check-in-label"><i class="fa fa-exclamation-circle"></i></span>
        </div>
    </div>
    <div class="row">
        <div class="small-10 columns">
            <span class="additional-info-label">{{withDefault additionalInfo "&nbsp;"}}</span>
        </div>
        <div class="small-2 columns">
            <span>&nbsp;</span>
        </div>
    </div>
</div>
