<footer id="footer">
    <div  class="row">
        <div class="small-2 columns">
            <img xlink:href="{{resource "logoImageSvgSrc"}}" src="{{resource "logoImageSrc"}}" alt="{{resource "logoImageAlt"}}" class="footer-logo"  />
        </div>
        <div class="small-5 columns">
            <a id="help-button" class="large-link" href="#">{{resource "goToHelpButtonText"}}</a>
        </div>
        <div class="small-5 columns">
            <a id="log-out-button" class="large-link" href="#">{{resource "goToLogOutButtonText"}}</a>
        </div>
    </div>
</footer>