<div class="icon-bar five-up" role="navigation">
    <a id="go-to-my-identity-button" class="item" role="button" tabindex="0" aria-label="my identity">
        <i class="fa fa-user"></i>
    </a>
    <a id="go-to-open-check-in-button" class="item hidden" role="button" tabindex="0" aria-label="open check-in">
        <i class="fa fa-map-marker open"></i>
    </a>
    <a id="go-to-locus-search-button" class="item" role="button" tabindex="0" aria-label="locus search">
        <i class="fa fa-map-marker"></i>
    </a>
    <a id="go-to-identity-search-button" class="item" role="button" tabindex="0" aria-label="identity search">
        <i class="fa fa-users"></i>
    </a>
    <a id="go-to-ad-hoc-check-in-button" class="item" role="button" tabindex="0" aria-label="ad-hoc check-in">
        <i class="fa fa-pencil-square-o"></i>
    </a>
    <a id="go-to-settings-button" class="item" role="button" tabindex="0" aria-label="settings">
        <i class="fa fa-gear"></i>
    </a>
</div>