<div class="identity-list-item-view -list-item">
    <div class="row">
        <div class="small-2 columns">
            <div class="circle">
                <span class="identity-initials-label">{{withDefault identityInitials "&nbsp;"}}</span>
            </div>
        </div>
        <div class="small-10 columns -border-bottom">
            <div class="row">
                <div class="small-12 columns">
                    <span class="identity-name-label t-span -size-s -color-grey -style-italic">{{withDefault identityName "&nbsp;"}}</span>
                </div>
            </div>
            <div class="row">
                <div class="small-11 columns">
                    <a class="go-to-identity-button" data-identity-id="{{identityId}}" href="#">{{withDefault identityFullName "&nbsp;"}}</a>
                </div>
                <div class="small-1 columns">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <span class="notes-label t-span -size-s -color-grey -style-italic">last checked-in at Vine on 2/11/2015</span>
                </div>
            </div>
        </div>
    </div>
</div>
