<div class="identity-search-view">
    <div class="row">
        <div class="small-12 columns">
            <ul class="button-group radius even-3">
                <li>
                    <a id="gps-search-button" class="button radius tiny" href="#">{{resource "gpsSearchButtonText"}}</a>
                </li>
                <li>
                    <a id="show-manual-search-button" class="button radius tiny secondary" href="#">{{resource "manualSearchButtonText"}}</a>
                </li>
                <li>
                    <a id="recent-search-button" class="button radius tiny secondary" href="#">{{resource "recentSearchButtonText"}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="manual-search-form" class="row hidden">
        <div class="small-8 columns">
            <input id="manual-search-input" type="search" placeholder="{{resource "identity.manualSearchPlaceholderText"}}" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalization="off" />
        </div>
        <div class="small-4 columns">
            <a id="manual-search-button" class="button radius" href="#">{{resource "searchButtonText"}}</a>
            <a id="reset-manual-search-button" class="button radius secondary" href="#">{{resource "resetButtonText"}}</a>
        </div>
    </div>
    <div class="row loading {{cid}} hidden">
        <div class="small-12 columns">
            <span class="loading-message">{{resource "identitySearch.loadingMessage"}}</span>
            <img src="{{resource 'loadingIconSrc'}}" class="loading-icon" />
        </div>
    </div>
    <div class="row alert-view-container {{cid}}">
        <div class="small-12 columns"></div>
    </div>
    <div class="row">
        <div id="identity-list-view-container" class="small-12 columns">
        </div>
    </div>
</div>