<div class="issue-collection-view">
    <h2 class="collection-header content-sub-heading"></h2>
    <div class="tile-wrap el-loading el-loading-done">
        <div class="el-loading-indicator el-loading-indicator-linear">
            <div class="progress progress-position-absolute-top">
                <div class="progress-bar-indeterminate"></div>
            </div>
        </div>
    </div>
</div>