<div class="issue-tile-view tile">

        <div class="pull-left tile-side">
            <div class="avatar avatar-red avatar-sm">
                <span class="icon icon-lg">{{resource "issueIcon"}}</span>
            </div>
        </div>

        <div class="tile-action tile-action-show">
            <ul class="nav nav-list pull-right">
                <li>
                    <a class="go-to-issue-button" href="#" tabindex="0"><span class="icon icon-lg">{{resource "infoIcon"}}</span></a>
                </li>
            </ul>
        </div>

        <div class="tile-inner">
            <span class="text-overflow"><span class="description-label text-overflow"></span></span>
        </div>
    </div>

</div>