<div class="locus-list-item-view">
    <div class="row">
        <div class="small-12 columns">
            <a class="go-to-locus-button" data-locus-id="{{locusId}}" href="#">{{withDefault locusName "&nbsp;"}}</a>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <span class="distance-label">{{withDefault distance "&nbsp;"}}</span>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <a class="go-to-directions-button hidden" data-latitude="{{latitude}}" data-longitude="{{longitude}}" href="#">{{resource "goToDirectionsButtonText"}}&nbsp;<i class="fa fa-map-marker"></i></a>
        </div>
    </div>
</div>
