<div class="locus-list-item-view -list-item">
    <div class="row">
        <div class="small-2 columns">
            <div class="circle">
                <span class="locus-initials-label"><i class="fa fa-map-marker"></i></span>
            </div>
        </div>
        <div class="small-10 columns -border-bottom">
            <div class="row coordinates-unavailable-container hidden">
                <div class="small-12 columns">
                    <span class="coordinates-unavailable-label t-span -size-s -color-grey -style-italic">{{resource "coordinatesUnavailableErrorMessage"}}</span>
                </div>
            </div>
            <div class="row coordinates-container hidden">
                <div class="small-12 columns">
                    <span class="distance-label t-span -size-s -color-grey -style-italic">{{withDefault distance "&nbsp;"}}</span>
                </div>
            </div>
            <div class="row">
                <div class="small-11 columns">
                    <a class="go-to-locus-button" data-locus-id="{{locusId}}" href="#">{{withDefault locusName "&nbsp;"}}</a>
                </div>
                <div class="small-1 columns">
                    <i class="fa fa-angle-right"></i>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <span class="open-check-ins-label t-span -size-s -color-grey -style-italic">no check-ins</span>
                </div>
            </div>
        </div>
    </div>
</div>