<div class="locus-view">
    <div class="row">
        <div class="small-12 columns">
            <h3 class="locus-name-label" data-locus-id="{{locusId}}">{{locusName}}</h3>
        </div>
    </div>
    <div class="row linked-locus-view hidden">
        <div class="small-12 columns">
            <span class="linked-locus-header">{{resource "linkedLocusHeaderText"}}</span>&nbsp;<a class="go-to-linked-locus-button" data-linked-locus-id href="#">{{withDefault linkedLocusName "&nbsp;"}}<i class="fa fa-arrows-h"></i></a>
        </div>
    </div>
    <div class="row loading {{cid}} hidden">
        <div class="small-12 columns">
            <span class="loading-message">{{resource "locus.loadingMessage"}}</span>
            <img src="{{resource 'loadingIconSrc'}}" class="loading-icon"/>
        </div>
    </div>
    <div class="row alert-view-container {{cid}}">
        <div class="small-12 columns"></div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <span class="distance-label">{{withDefault distance "&nbsp;"}}</span>&nbsp;&#124;&nbsp;<a class="go-to-directions-button" data-latitude="{{latitude}}" data-longitude="{{longitude}}" href="#">{{resource "goToDirectionsButtonText"}}&nbsp;<i class="fa fa-map-marker"></i></a><span class="directions-unavailable-label hidden">{{resource "directionsUnavailableErrorMessage"}}</span>
        </div>
    </div>
    <div class="row">
        <div id="warning-list-view-container" class="small-12 columns">
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="row table-view-header">
                <div class="small-12 columns">
                    <span>{{resource "openListingListHeader"}}</span>
                </div>
            </div>
            <div class="row table-view-list-items">
                <div class="small-12 columns">
                    <div id="locus-entry-log-list-view-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>
