<div class="locus-tile-view">
    <div class="row">
        <div class="small-10 columns go-to-locus-with-id-button" tabindex="0" role="button">
            <div class="row">
                <div class="small-3 columns">
                    <i class="fa fa-info-circle"></i>
                </div>
                <div class="small-9 columns">
                    <div class="row">
                        <div class="small-12 columns">
                            <span class="locus-name-label -style-primary" data-locus-id="{{locusId}}">{{withDefault locusName "&nbsp;"}}</span>
                        </div>
                    </div>
                    <div class="row coordinates-container hidden">
                        <div class="small-12 columns">
                            <span class="distance-label -style-secondary">{{withDefault distance "&nbsp;"}}</span>
                        </div>
                    </div>
                    <div class="row phone-container hidden">
                        <div class="small-12 columns">
                            <span class="phone-label -style-secondary">{{withDefault phone "&nbsp;"}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-2 columns go-to-directions-with-lat-lng-button" tabindex="0" role="button">
            <i class="fa fa-map-marker"></i>
        </div>
    </div>
</div>