<div class="row locus-tile-view">
    <div id="go-to-locus-with-id-button" class="small-10 columns" tabindex="0" role="button">
        <div class="small-3 avatar">
            <i class="fa fa-info-circle"></i> 
        </div>
        <div class="small-7">
            <span class="locus-name-label" data-locus-id="{{locusId}}">{{withDefault locusName "&nbsp;"}}</span>
        </div>
    </div>
    <div id="go-to-directions-with-lat-lng-button" class="small-2 columns icon" tabindex="0" role="button">
        <i class="fa fa-map-marker"></i>
    </div>
</div>