<div class="list-search-view">
    <div id="open-manual-search-container" class="row">
        <div class="small-12 columns">
            <a id="open-manual-search-button" href="#"><i class="fa fa-search"></i>{{resource "searchPlaceholder"}}</a>
        </div>
    </div>
    <div id="manual-search-container" class="row hidden">
        <div class="small-10 columns">
            <i class="fa fa-search"></i><input id="manual-search-input" type="search" placeholder="{{resource "searchPlaceholder"}}" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalization="off" /><a id="clear-manual-search-input-button" href="#"><i class="fa fa-times-circle"></i></a>
        </div>
        <div class="small-2 columns">
            <a id="search-button" href="#">{{resource "searchButtonText"}}</a>
            <a id="cancel-button" href="#">{{resource "cancelButtonText"}}</a>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <ul class="button-group radius even-3">
                <li>
                    <a id="show-alphabetic-results-button" class="button radius tiny" href="#">{{resource "showAlphabeticResultsButtonText"}}</a>
                </li>
                <li>
                    <a id="show-nearby-results-button" class="button radius tiny secondary" href="#">{{resource "showNearbyResultsButtonText"}}</a>
                </li>
                <li>
                    <a id="show-favorites-results-button" class="button radius tiny secondary" href="#">{{resource "showFavoritesResultsButtonText"}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row loading {{cid}} hidden">
        <div class="small-12 columns">
            <span class="loading-message">{{resource "listSearch.loadingMessage"}}</span>
            <img src="{{resource 'loadingIconSrc'}}" class="loading-icon"/>
        </div>
    </div>
    <div class="row alert-view-container {{cid}}">
        <div class="small-12 columns"></div>
    </div>
    <div class="row">
        <div id="list-view-container" class="small-12 columns">
        </div>
    </div>
</div>