<div class="station-search-view">
    <div class="row collapse">
        <div class="small-12 columns">
            <h3>{{resource "stationSearch.viewTitleText"}}</h3>
        </div>
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <a id="refresh-search-button" class="button radius" href="#">{{resource "refreshButtonText"}}</a>
            <a id="reset-search-button" class="button radius secondary" href="#">{{resource "resetButtonText"}}</a>
        </div>
    </div>
    <div class="row collapse view-alerts">
        <div class="small-12 columns"></div>
    </div>
    <div class="row collapse">
        <div id="station-list-view-container" class="small-12 columns">
        </div>
    </div>
</div>