<div class="station-view">
    <div class="row collapse view-status {{cid}} hidden">
        <div class="small-12 columns">
            <span class="view-message">{{resource "station.loadingMessage"}}</span>
            <img src="{{resource 'loadingIconSrc'}}" class="view-loading"/>
        </div>
    </div>
    <div class="row collapse view-alerts {{cid}}">
        <div class="small-12 columns"></div>
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <h3 data-station-id="{{stationId}}">{{stationName}}</h3>
        </div>
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <a class="directions-link" data-latitude="{{latitude}}" data-longitude="{{longitude}}" href="#">{{resource "goToMapButtonText"}}</a>
        </div>
    </div>
    <div class="row collapse">
        <div class="small-4 columns">
            <span>{{withDefault regionName  "&nbsp;"}}</span>
        </div>
    </div>
    <div class="row collapse">
        <div class="small-4 columns">
            <span>{{withDefault areaName  "&nbsp;"}}</span>
        </div>
    </div>
</div>
