<div class="station-view">
    <div class="row collapse">
        <div class="small-12 columns">
            <h3 class="station-name-label" data-station-id="{{stationId}}">{{stationName}}</h3>
        </div>
    </div>
    <div class="row collapse linked-station-view hidden">
        <div class="small-12 columns">
            <span class="linked-station-header">{{resource "linkedStationHeaderText"}}</span>&nbsp;<a class="go-to-linked-station-button" data-linked-station-id href="#">{{withDefault linkedStationName "&nbsp;"}}<i class="fa fa-arrows-h"></i></a>
        </div>
    </div>
    <div class="row collapse loading {{cid}} hidden">
        <div class="small-12 columns">
            <span class="loading-message">{{resource "station.loadingMessage"}}</span>
            <img src="{{resource 'loadingIconSrc'}}" class="loading-icon"/>
        </div>
    </div>
    <div class="row collapse alert-view-container {{cid}}">
        <div class="small-12 columns"></div>
    </div>
    <div class="row collapse">
        <div class="small-12 columns">
            <span class="distance-label">{{withDefault distance "&nbsp;"}}</span>&nbsp;&#124;&nbsp;<a class="go-to-directions-button" data-latitude="{{latitude}}" data-longitude="{{longitude}}" href="#">{{resource "goToDirectionsButtonText"}}&nbsp;<i class="fa fa-map-marker"></i></a><span class="directions-unavailable-label hidden">{{resource "directionsUnavailableErrorMessage"}}</span>
        </div>
    </div>
    <div class="row collapse">
        <div id="warning-list-view-container" class="small-12 columns">
        </div>
    </div>
    <div class="row collapse">
        <div id="station-entry-log-list-view-container" class="small-12 columns">
        </div>
    </div>
</div>
