<footer id="footer">
    <div  class="row">
        <div class="small-3 columns">
            <a id="go-to-locus-search-button" href="#"><i class="fa fa-map-marker"></i>{{resource "goToLocusSearchButtonText"}}</a>
        </div>
        <div class="small-3 columns">
            <a id="go-to-identity-search-button" href="#"><i class="fa fa-users"></i>{{resource "goToIdentitySearchButtonText"}}</a>
        </div>
        <div class="small-3 columns">
            <a id="go-to-ad-hoc-entry-button" href="#"><i class="fa fa-pencil-square-o"></i>{{resource "goToAdHocEntryButtonText"}}</a>
        </div>
        <div class="small-3 columns">
            <a id="go-to-settings-button" href="#"><i class="fa fa-gear"></i>{{resource "goToSettingsButtonText"}}</a>
        </div>
    </div>
</footer>