<footer id="footer">
    <div  class="row collapse">
        <div class="small-3 columns">
            <a id="go-to-gps-search-button" class="tab-bar-button" href="#"><i class="fa fa-map-marker"></i>{{resource "goToGpsSearchButtonText"}}</a>
        </div>
        <div class="small-3 columns">
            <a id="go-to-manual-search-button" class="tab-bar-button" href="#"><i class="fa fa-search"></i>{{resource "goToManualSearchButtonText"}}</a>
        </div>
        <div class="small-3 columns">
            <a id="go-to-ad-hoc-entry-button" class="tab-bar-button" href="#"><i class="fa fa-pencil-square-o"></i>{{resource "goToAdHocEntryButtonText"}}</a>
        </div>
        <div class="small-3 columns">
            <a id="go-to-settings-button" class="tab-bar-button" href="#"><i class="fa fa-gear"></i>{{resource "goToSettingsButtonText"}}</a>
        </div>
    </div>
</footer>