@import "normalize";
@import "foundation";
@import "font-awesome";

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.invalid {
    border: solid red 1px;
    color: red;
}
.open {
    color: #00ff00 !important;
}
.overdue {
    color: #ff0000 !important;
}
.expired {
    color: #ffff00 !important;
}

.-style-headline {
    font-size: 24px;
}

.-style-subhead {
    font-size: 16px;
}

.-style-primary {
    font-size: 16px;
}
.-style-secondary {
    font-size: 16px;
}

.-style-body2 {
    font-size: 14px;
    font-weight: bolder;
}